# Homework 4


### Due: Monday Nov 11, at 11:59pm via Blackboard

Import the necessary panda libraries

Q1. Import the stock data for Meta and Telsa and Create the respective data frames, parsing the Date variable as dates and changing the index column to Date. (2 point)

Q2. Merge the stock data for Meta and Tesla stock data. Include the necessary prefixes (2 points)

 Q3a. Report the summary statistics for the Adjusted close for Tesla and Meta stocks prices. (1 point)

       Adj Close_tsla  Adj Close_meta
count      503.000000      503.000000
mean       261.542545      250.817098
std         55.775860       84.762832
min        109.099998       88.910004
25%        223.201668      170.205002
50%        251.213333      265.739990
75%        296.856659      330.300003
max        409.970001      382.179993

Q3b: What are the Ranges and Interquartile Ranges for the Adjusted Close of Tesla and Meta Stock prices? (2 point)

Q4. Using Seaborn, plot line graphs for the daily volumes for Meta and Tesla Stock and include the title and labels. Which stock had greater volume volatility? (3 points)

Q5. Create a new variables for both Tesla and Meta stocks in the dataframe that measures the daily differential in price, defined as the difference between the High Price and Low Price for the day (2 points)

Q6. Resample the data to create the average monthly price diffferences between Tesla and Meta Stock. (2 points)

Q7. Using Plotly, create line graphs for the monthly price differences for Tesla and Meta stocks. Include the range slider. Don't show the gridlines but include the title and labels, including the legend showing both stocks (3 points)

Import the datafile bmw and rename the DataFrame bmwSales

array(['Automatic', 'Manual', 'Semi-Auto'], dtype=object)

Q8. Using plotly create box-plots for Automatic, Manual and Semi-Automatic transmissions, as 3 separate plot. Include the title "Price Differences by Transmission." (2 points).

Q9. Using plotly, create a scatterplot for BMW price (X) and mileage (Y), distinguishing between trasmission types by color. Include th box-plots for price and mileage on the margins of the plot. ( 2 points)

Q10.Cars are considered efficient if their mpg is greater than 35 miles per galon. Use a function (Eff) to create a new categorical variable (Efficiency) with two levels: Efficient if the mpg is greater than 35 (mpg > 35), and Inefficient otherwise (mpg <=35). (2 points)

Q11. Extract the data for BMW cars with model year of 2018,2019 or 2020 and price of more than 20000 and create a new dataframe called bmwSales2. (2 points)

Q12. For this new dataframe,using plotly, create box plots that show the mileage (Y) for the different fuel  (X), and differentiated by color for "Efficiency.' Include the title and labels as shown. (2 points)

Import the datafile audi.csv and create the Dataframe audiSales.

Q13. Add a 'make' column to the bmwSales and audiSales DataFrames to show the make of the car, either "BMW' or 'Audi." Then concatenate both Dataframes (3 points)

Q14. Use the function (Eff) to create a new categorical variable (Efficiency) with two levels: Efficient if the mpg is greater than 35 (mpg > 35), and Inefficient otherwise (mpg <=35) and apply it to the concatenated dataframe SalesTTL. (2 points)

Q15. Using plotly, create box plots that show the Price (Y) for the 'make (X), and differentiated by color for "Efficiency." Include the title and y-label as shown (3 points)

Q16. Extract the data for BMW or Audi cars and with model years of 2019 or 2020 and store to a new dataframe SalesTTL2 (2 points)

Q17. Using plotly, create box plots that show the Price (Y) for the 'make (X), and differentiated by color for "Efficiency." Include the title and y-axis label as shown. (3 points)

Can we conclude that for BMW and Audi Cars that are efficient, the median and IQR of in price are somewhat similar? Explain